@import 'src/components/GlobalStyles/_library.scss';

$primary: #dbed1b;
$secondary: #bdcc20;
$tertiary: #9eb838;
$quaternary: #c3d54e;
$quinary: #b1d25d;

.bgText {
  background-color: #7ddd42;
}

.textHome {
  padding-top: 10px;
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 $tertiary,
    9px 9px var(--color-quaternary), 12px 12px 0 $quinary;
  font-family: bungee, sans-serif;
  font-weight: 300;
  margin: 0;
  color: var(--color-primary);
  animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

@include keyframes(shadows) {
  0% {
    text-shadow: none;
  }

  10% {
    text-shadow: 3px 3px 0 $secondary;
  }

  20% {
    text-shadow: 3px 3px 0 $secondary,
      6px 6px 0 $tertiary;
  }

  30% {
    text-shadow: 3px 3px 0 $secondary,
      6px 6px 0 $tertiary, 9px 9px $quaternary;
  }

  40% {
    text-shadow: 3px 3px 0 $secondary,
      6px 6px 0 $tertiary, 9px 9px $quaternary,
      12px 12px 0 $quinary;
  }

  50% {
    text-shadow: 3px 3px 0 $secondary,
      6px 6px 0 $tertiary, 9px 9px $quaternary,
      12px 12px 0 $quinary;
  }

  60% {
    text-shadow: 3px 3px 0 $secondary,
      6px 6px 0 $tertiary, 9px 9px $quaternary,
      12px 12px 0 $quinary;
  }

  70% {
    text-shadow: 3px 3px 0 $secondary,
      6px 6px 0 $tertiary, 9px 9px $quaternary;
  }

  80% {
    text-shadow: 3px 3px 0 $secondary,
      6px 6px 0 $tertiary;
  }

  90% {
    text-shadow: 3px 3px 0 $secondary;
  }

  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }

  40% {
    transform: translate(-12px, -12px);
  }

  50% {
    transform: translate(-12px, -12px);
  }

  60% {
    transform: translate(-12px, -12px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}