.ImgDetails {
   max-width: 500px;
   max-height: 800px;
   margin: 0 10px 0 0;
   border-radius: 35px;
}
.Name {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   text-transform: uppercase;
   background-image: linear-gradient(to right top, #93d634, #e2e837c7, #63ea8c, #0fba37, #38d920);
   background-size: 50% auto;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-family: 'Poppins', sans-serif;
   font-size: 4vw;
   animation: gradientAnim 4.5s ease alternate infinite;
}
@keyframes gradientAnim {
   to {
      background-position: 100% top;
   }
}

.CardDetail {
   display: flex;
   border: 2px solid gray;
   border-radius: 35px !important;
}

:root {
   --Price-background: #f35555;
   --Price-height: 2.5rem;
}

.Price {
   width: 200px;
   background: var(--Price-background);
   color: #fff;
   align-items: center;
   display: flex;
   justify-content: center;
   position: relative;
   height: var(--Price-height);
   padding: 1rem 1rem;
   margin: 20px 0 !important;
}

/* The triangle */
.Price::before {
   content: '';

   border-color: transparent var(--Price-background) transparent transparent;
   border-style: solid;
   border-width: calc(var(--Price-height) / 2) calc(var(--Price-height) / 2) calc(var(--Price-height) / 2) 0rem;

   /* Position */
   left: 0px;
   position: absolute;
   top: 0px;
   transform: translate(-100%, 0px);
}

/* The dot */
.Price::after {
   content: '';
   background: #fff;
   border-radius: 9999rem;
   left: 0;
   position: absolute;
   top: 50%;
   transform: translate(-0.5rem, -50%);

   /* Size */
   height: 0.75rem;
   width: 0.75rem;
}

.CartInfo{
   width: 100%;
}

.btnCart{
   margin-top: 10px;
   bottom: 0;
}

.boxCount{
   width: 70px;
   height: 30px !important;
}