.idProduct {
   display: none;
}
.productCard {
   display: 'flex';
   flex-direction: 'column';
   justify-content: 'space-between';
   flex-wrap: wrap;
   transition: box-shadow .3s;
   &:hover{
      box-shadow: 15px 8px 11px rgba(33,33,33,.2); 
   }

}

.btnCard{
   background-color: #6ae021;
   color: white;
   transition: box-shadow .3s;
   &:hover{
      background-color: rgb(205, 177, 22);
   }

}

.itemTitle {
   font-family: 'Open Sans', sans-serif;
   font-weight: 600;
   font-size: 30px;
   line-height: 38px;
   color: #6ae021;
}

.cardEdit{
    margin-top: 50px;
}

.mediaImg{
   width: 100%;
   height: auto;
   margin: 5px;
}